@font-face {
font-family: 'Fanwood Text Italic';
src: url('fanwood_text_italic-webfont.eot');
src: url('fanwood_text_italic-webfont.eot?#iefix') format('eot'),
url('fanwood_text_italic-webfont.woff') format('woff'),
url('fanwood_text_italic-webfont.ttf') format('truetype'),
url('fanwood_text_italic-webfont.svg#NevisBold') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'Fanwood Text Italic';
src: url('fanwood_text_italic-webfont.svg#NevisBold') format('svg');

}
}
