@font-face {
font-family: 'Cassannet';
src: url('cassannet.eot');
src: url('cassannet.eot?#iefix') format('eot'),
url('cassannet.woff') format('woff'),
url('cassannet.ttf') format('truetype'),
url('cassannet.svg#NevisBold') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'Cassannet';
src: url('cassannet.svg#NevisBold') format('svg');

}
}
