@font-face {
font-family: 'Cassannet Bold';
src: url('cassannet-bold.eot');
src: url('cassannet-bold.eot?#iefix') format('eot'),
url('cassannet-bold.woff') format('woff'),
url('cassannet-bold.ttf') format('truetype'),
url('cassannet-bold.svg#NevisBold') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'Cassannet Bold';
src: url('cassannet-bold.svg#NevisBold') format('svg');

}
}
