
@font-face {
font-family: 'Neutrafacetext Book';
src: url('Neutrafacetext Book.eot');
src: url('Neutrafacetext Book.eot?#iefix') format('eot'),
url('Neutrafacetext Book.woff') format('woff'),
url('Neutrafacetext Book.ttf') format('truetype'),
url('Neutrafacetext Book.svg') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'Neutrafacetext Book';
src: url('Neutrafacetext Book.svg') format('svg');

}
}