@font-face {
font-family: 'Habana';
src: url('Habana.eot');
src: url('Habana.eot?#iefix') format('eot'),
url('Habana.woff') format('woff'),
url('Habana.ttf') format('truetype'),
url('Habana.svg#HabanaBold') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'Habana';
src: url('Habana.svg#HabanaBold') format('svg');

}
}
