
@font-face {
font-family: 'Neutrafacetext Demi';
src: url('Neutrafacetext Demi.eot');
src: url('Neutrafacetext Demi.eot?#iefix') format('eot'),
url('Neutrafacetext Demi.woff') format('woff'),
url('Neutrafacetext Demi.ttf') format('truetype'),
url('Neutrafacetext Demi.svg') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'Neutrafacetext Demi';
src: url('Neutrafacetext Demi.svg') format('svg');

}
}
