
@font-face {
font-family: 'Kankin';
src: url('Kankin.eot');
src: url('Kankin.eot?#iefix') format('eot'),
url('Kankin.woff') format('woff'),
url('Kankin.ttf') format('truetype'),
url('Kankin.svg') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'Kankin';
src: url('Kankin.svg') format('svg');

}
}